body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(191, 223, 255)
}

#logo{
    width: 150px;
    height: auto;
    margin-bottom: 0px;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

#searchButton {
    padding: 10px 15px;
    background-color: #3570b0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#searchButton:hover {
    background-color: #5497de;
}

#contentList {
    list-style: none;
    padding: 0;
    width: 300px;
    border: 1px solid #eee;
    border-radius: 5px;
}

#contentList li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

#contentList li:last-child {
    border-bottom: none;
}

#biomarkerInfo {
    width: 700px; 
    max-width: 95%; 
    margin-top: 30px;
}

.content-paragraph {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 600px; /* Adjust as needed */
    max-width: 90%;
}

.content-paragraph.hide {
    display: none;
}

#contentList li.hide {
    display: none;
}

#noResultsMessage {
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-size: 1.1em;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.main-heading {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2rem;
    color: #000000;
    margin-bottom: 20px;
}


.suggestions-dropdown {
    position: absolute; /* Position relative to .search-container */
    width: 300px; /* Match the width of your searchInput */
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none; /* No top border as it sits right below the input */
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 200px; /* Limit height and add scrollbar if many suggestions */
    overflow-y: auto;
    z-index: 100; /* Ensure it's above other content */
    display: none; /* Hidden by default */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    text-align: left; /* Align text to the left within the dropdown */
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}
